[submodule "tool-template"]
    branch = develop
	path = tool-template
	url = https://github.com/biopet/tool-template.git
[submodule "squishbed"]
    branch = develop
	path = squishbed
	url = https://github.com/biopet/squishbed.git
[submodule "vcfstats"]
    branch = develop
	path = vcfstats
	url = https://github.com/biopet/vcfstats.git
[submodule "bamstats"]
    branch = develop
	path = bamstats
	url = https://github.com/biopet/bamstats
[submodule "samplestsvtoconfig"]
    branch = develop
	path = samplestsvtoconfig
	url = https://github.com/biopet/samplestsvtoconfig.git
[submodule "mergeotumaps"]
    branch = develop
	path = mergeotumaps
	url = https://github.com/biopet/mergeotumaps.git
[submodule "addgenesandtranscriptstogtf"]
    branch = develop
	path = addgenesandtranscriptstogtf
	url = https://github.com/biopet/addgenesandtranscriptstogtf.git
[submodule "annotatevcfwithbed"]
    branch = develop
	path = annotatevcfwithbed
	url = https://github.com/biopet/annotatevcfwithbed.git
[submodule "basecounter"]
    branch = develop
	path = basecounter
	url = https://github.com/biopet/basecounter.git
[submodule "bastygeneratefasta"]
    branch = develop
	path = bastygeneratefasta
	url = https://github.com/biopet/bastygeneratefasta.git
[submodule "countalleles"]
    branch = develop
	path = countalleles
	url = https://github.com/biopet/countalleles.git
[submodule "correctrefalleles"]
    branch = develop
	path = correctrefalleles
	url = https://github.com/biopet/correctrefalleles.git
[submodule "downloadncbiassembly"]
    branch = develop
	path = downloadncbiassembly
	url = https://github.com/biopet/downloadncbiassembly.git
[submodule "extractalignedfastq"]
    branch = develop
	path = extractalignedfastq
	url = https://github.com/biopet/extractalignedfastq.git
[submodule "extracttagsfromgtf"]
    branch = develop
	path = extracttagsfromgtf
	url = https://github.com/biopet/extracttagsfromgtf.git
[submodule "fastqsync"]
    branch = develop
	path = fastqsync
	url = https://github.com/biopet/fastqsync.git
[submodule "findoverlapmatch"]
    branch = develop
	path = findoverlapmatch
	url = https://github.com/biopet/findoverlapmatch.git
[submodule "gtftorefflat"]
    branch = develop
	path = gtftorefflat
	url = https://github.com/biopet/gtftorefflat.git
[submodule "gvcftobed"]
    branch = develop
	path = gvcftobed
	url = https://github.com/biopet/gvcftobed.git
[submodule "krakenreporttojson"]
    branch = develop
	path = krakenreporttojson
	url = https://github.com/biopet/krakenreporttojson.git
[submodule "mpileuptovcf"]
    branch = develop
	path = mpileuptovcf
	url = https://github.com/biopet/mpileuptovcf.git
[submodule "multicoverage"]
    branch = develop
	path = multicoverage
	url = https://github.com/biopet/multicoverage.git
[submodule "ncbireporttocontigmap"]
    branch = develop
	path = ncbireporttocontigmap
	url = https://github.com/biopet/ncbireporttocontigmap.git
[submodule "replacecontigsgtffile"]
    branch = develop
	path = replacecontigsgtffile
	url = https://github.com/biopet/replacecontigsgtffile.git
[submodule "replacecontigsvcffile"]
    branch = develop
	path = replacecontigsvcffile
	url = https://github.com/biopet/replacecontigsvcffile.git
[submodule "rebuildcontigmap"]
    branch = develop
	path = rebuildcontigmap
	url = https://github.com/biopet/rebuildcontigmap.git
[submodule "seqstat"]
    branch = develop
	path = seqstat
	url = https://github.com/biopet/seqstat.git
[submodule "snptesttovcf"]
    branch = develop
	path = snptesttovcf
	url = https://github.com/biopet/snptesttovcf.git
[submodule "validateannotation"]
    branch = develop
	path = validateannotation
	url = https://github.com/biopet/validateannotation.git
[submodule "validatefastq"]
    branch = develop
	path = validatefastq
	url = https://github.com/biopet/validatefastq.git
[submodule "validatevcf"]
    branch = develop
	path = validatevcf
	url = https://github.com/biopet/validatevcf.git
[submodule "vcffilter"]
    branch = develop
	path = vcffilter
	url = https://github.com/biopet/vcffilter.git
[submodule "vcftotsv"]
    branch = develop
	path = vcftotsv
	url = https://github.com/biopet/vcftotsv.git
[submodule "vcfwithvcf"]
    branch = develop
	path = vcfwithvcf
	url = https://github.com/biopet/vcfwithvcf.git
[submodule "vepnormalizer"]
    branch = develop
	path = vepnormalizer
	url = https://github.com/biopet/vepnormalizer.git
[submodule "wipereads"]
    branch = develop
	path = wipereads
	url = https://github.com/biopet/wipereads.git
[submodule "xcnvtobed"]
    branch = develop
	path = xcnvtobed
	url = https://github.com/biopet/xcnvtobed.git
[submodule "pipelinestatus"]
    branch = develop
	path = pipelinestatus
	url = https://github.com/biopet/pipelinestatus.git
[submodule "downsampleregions"]
    branch = develop
	path = downsampleregions
	url = https://github.com/biopet/downsampleregions.git
[submodule "digenicsearch"]
    branch = develop
	path = digenicsearch
	url = https://github.com/biopet/digenicsearch.git
[submodule "extractadaptersfastqc"]
    branch = develop
	path = extractadaptersfastqc
	url = https://github.com/biopet/extractadaptersfastqc.git
[submodule "mergesv"]
    branch = develop
	path = mergesv
	url = https://github.com/biopet/mergesv.git
[submodule "toolspackage"]
    branch = develop
	path = toolspackage
	url = https://github.com/biopet/toolspackage.git
[submodule "sampleconfig"]
    branch = develop
	path = sampleconfig
	url = https://github.com/biopet/sampleconfig.git
[submodule "refflatstats"]
    branch = develop
	path = refflatstats
	url = https://github.com/biopet/refflatstats.git
[submodule "fastqsplitter"]
    branch = develop
	path = fastqsplitter
	url = https://github.com/biopet/fastqsplitter.git
[submodule "scatterregions"]
	path = scatterregions
	url = https://github.com/biopet/scatterregions.git
[submodule "bamtorawvcf"]
	path = bamtorawvcf
	url = https://github.com/biopet/bamtorawvcf.git
