[submodule "tool-template"]
	path = tool-template
	url = https://github.com/biopet/tool-template.git
[submodule "fastq-splitter"]
	path = fastq-splitter
	url = https://github.com/biopet/fastq-splitter.git
[submodule "biopet-summary-tool"]
	path = biopet-summary-tool
	url = https://github.com/biopet/biopet-summary-tool.git
[submodule "squishbed"]
	path = squishbed
	url = https://github.com/biopet/squishbed.git
[submodule "refflatsstats"]
	path = refflatsstats
	url = https://github.com/biopet/refflatsstats.git
[submodule "vcfstats"]
	path = vcfstats
	url = https://github.com/biopet/vcfstats.git
[submodule "bamstats"]
	path = bamstats
	url = https://github.com/biopet/bamstats
[submodule "samplestsvtoconfig"]
	path = samplestsvtoconfig
	url = https://github.com/biopet/samplestsvtoconfig.git
[submodule "mergeotumaps"]
	path = mergeotumaps
	url = https://github.com/biopet/mergeotumaps.git
[submodule "addgenesandtranscriptstogtf"]
	path = addgenesandtranscriptstogtf
	url = https://github.com/biopet/addgenesandtranscriptstogtf.git
[submodule "annotatevcfwithbed"]
	path = annotatevcfwithbed
	url = https://github.com/biopet/annotatevcfwithbed.git
[submodule "basecounter"]
	path = basecounter
	url = https://github.com/biopet/basecounter.git
[submodule "bastygeneratefasta"]
	path = bastygeneratefasta
	url = https://github.com/biopet/bastygeneratefasta.git
[submodule "countalleles"]
	path = countalleles
	url = https://github.com/biopet/countalleles.git
[submodule "correctrefalleles"]
	path = correctrefalleles
	url = https://github.com/biopet/correctrefalleles.git
[submodule "downloadncbiassembly"]
	path = downloadncbiassembly
	url = https://github.com/biopet/downloadncbiassembly.git
[submodule "extractalignedfastq"]
	path = extractalignedfastq
	url = https://github.com/biopet/extractalignedfastq.git
[submodule "extracttagsfromgtf"]
	path = extracttagsfromgtf
	url = https://github.com/biopet/extracttagsfromgtf.git
[submodule "fastqsync"]
	path = fastqsync
	url = https://github.com/biopet/fastqsync.git
[submodule "findoverlapmatch"]
	path = findoverlapmatch
	url = https://github.com/biopet/findoverlapmatch.git
[submodule "gtftorefflat"]
	path = gtftorefflat
	url = https://github.com/biopet/gtftorefflat.git
[submodule "gvcftobed"]
    branch = develop
	path = gvcftobed
	url = https://github.com/biopet/gvcftobed.git
