[submodule "tool-template"]
	path = tool-template
	url = https://github.com/biopet/tool-template.git
[submodule "fastq-splitter"]
	path = fastq-splitter
	url = https://github.com/biopet/fastq-splitter.git
[submodule "biopet-summary-tool"]
	path = biopet-summary-tool
	url = https://github.com/biopet/biopet-summary-tool.git
[submodule "squishbed"]
	path = squishbed
	url = https://github.com/biopet/squishbed.git
[submodule "refflatsstats"]
	path = refflatsstats
	url = https://github.com/biopet/refflatsstats.git
[submodule "vcfstats"]
	path = vcfstats
	url = https://github.com/biopet/vcfstats.git
[submodule "bamstats"]
	path = bamstats
	url = https://github.com/biopet/bamstats
